<div flex layout="column">
    <md-card flex="90" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-ipnCenter2-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/IPN.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Instituto Politécnico Nacional</h2>
                        <h3>La Técnica al Servicio de la Patria</h3>
                        <h4>Carnet de Servicios Politécnicos</h4>
                        <h1>Consulta Médica</h1>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/SEP.png">
                </md-input-container>
            </div>

            <md-tabs layout-padding="true" md-dynamic-height="100" md-border-bottom="100" md-selected="vm.selectedTab">
                <md-tab label="Información general">
                    <md-content layout-padding>
                        <form name="formGeneral" no-validate>
                            <div layout="row" layout-xs="column" layout-align="center center" layout-xs="center stretch">
                                <md-input-container flex="100" class="md-block">
                                    <label>Unidad Médica</label>
                                    <md-select name="selectUnidadAcademica"
                                               ng-model="vm.unidadMedica"
                                               required=""
                                               md-no-asterisk="">
                                        <md-option ng-repeat="item in vm.unidadesMedicas"
                                                   ng-value="{{item}}">
                                            <span>{{item.nombre}}</span>
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="formGeneral.selectUnidadAcademica.$error">
                                        <div ng-message="required">El campo es requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" class="md-block">
                                    <label>Tipo de Servicio</label>
                                    <md-select name="selectTipoServicio"
                                               ng-model="vm.tipoServicio"
                                               required=""
                                               md-no-asterisk="">
                                        <md-option ng-repeat="item in vm.tiposServicio"
                                                   ng-value="{{item}}">
                                            <span>{{item.nombre}}</span>
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="formGeneral.selectTipoServicio.$error">
                                        <div ng-message="required">El campo es requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" class="md-block">
                                    <label>Consultorio</label>
                                    <md-select name="selectConsultorio"
                                               ng-model="vm.consultorio"
                                               required=""
                                               md-no-asterisk=""
                                               md-on-open="vm.getConsultorios()"
                                               ng-disabled="vm.tipoServicio==null || vm.unidadMedica==null">
                                        <md-option ng-repeat="item in vm.consultorios"
                                                   ng-value="{{item}}">
                                            <span>{{item.identificador}}</span>
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="formGeneral.selectConsultorio.$error">
                                        <div ng-message="required">El campo es requerido</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab>
                    <form name="formCita">
                        <md-input-container flex="100" class="md-block">
                            <label>Consultorio</label>
                            <md-select name="selectPersona"
                                       ng-model="vm.persona"
                                       required=""
                                       md-no-asterisk="">
                                <md-option ng-repeat="item in vm.personas"
                                           ng-value="{{item}}">
                                    <span>{{item.identificador}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="formGeneral.selectConsultorio.$error">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </md-input-container>
                    </form>
                </md-tab>
                <md-tab label="Información de cita" ng-disabled="formGeneral.$invalid">

                </md-tab>
            </md-tabs>

        </md-card-content>
    </md-card>

</div>