<div layout="column" flex="100" layout-padding layout-fill>
    <md-card class="md-padding-card1" flex-gt-md="90" flex="100" layout="column">
        <md-card-container layout="column" flex="">
            <h2>Datos Personales</h2>
            <img ng-src="{{vm.persona.foto}}" style="max-width:100px; max-height:130px"/>
            <div layout="column" layout-gt-xs="row">
                <md-input-container md-no-float class="md-block" flex="40">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.persona.nombre" placeholder="Nombre" required
                           ng-disabled="true">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="30">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.persona.apellido_paterno" placeholder="Apellido Paterno" required
                           ng-disabled="true">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="30">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.persona.apellido_materno" placeholder="Apellido Materno" required
                           ng-disabled="true">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
                <md-input-container md-no-float class="md-block" flex="30">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.persona.curp" placeholder="CURP" required
                           ng-disabled="true">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="30">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <input type="text" ng-model="vm.persona.cedula_profesional" placeholder="Cédula Profesional" required
                           ng-disabled="true">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row">
                <div flex="33">
                    <md-datepicker ng-model="vm.persona.fecha_nacimiento" md-placeholder="Fecha de Nacimiento"
                                   ng-disabled="!vm.editing" flex="100">
                    </md-datepicker>
                </div>
                <md-input-container md-no-float class="md-block" flex="100" flex-gt-xs="33">
                    <md-icon md-font-icon="zmdi zmdi-male-female"></md-icon>
                    <md-select name="PersonaGenre" ng-model="vm.persona.genero" required="" md-no-asterisk=""
                               ng-disabled="!vm.editing">
                        <md-option ng-repeat="tipo in vm.generos" value="{{tipo}}">{{tipo}}</md-option>
                    </md-select>
                    <div ng-messages="formVaccine.VaccineKind.$error">
                        <div ng-message="required">El campo es requerido</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-container>
        <md-card-container layout="column" flex="">
            <h2>Información General de Servicio</h2>
            <div layout="column" layout-gt-xs="row">
                <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon md-font-icon="fa fa-building-o"></md-icon>
                    <input type="text" ng-model="vm.Paciente.adscripcion" placeholder="Unidad de Procedencia"
                           ng-disabled="!vm.editing">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon md-font-icon="fa fa-building-o"></md-icon>
                    <input type="text" ng-model="vm.Paciente.lastSite" placeholder="Ultimo Servicio Proporcionado"
                           ng-disabled="!vm.editing">
                </md-input-container>
            </div>
        </md-card-container>


        <md-actions layout="row" layout-align="end center">

        </md-actions>

    </md-card>
</div>