<div flex layout="column">
    <md-card flex="90" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-ipnCenter2-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/IPN.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Instituto Politécnico Nacional</h2>
                        <h3>La Técnica al Servicio de la Patria</h3>
                        <h4>Carnet de Servicios Politécnicos</h4>
                        <h1>Cita Médica</h1>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/SEP.png">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <div flex="90" layout='column'>
        <!--Datos Personales-->
        <div flex="100">
            <md-card class="md-padding card1" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}">
                <md-card-content>
                    <md-autocomplete md-selected-item="vm.selectedPacient"
                                     md-selected-item-change="vm.selectedItemChange(vm.selectedPacient)"
                                     md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.nombre"
                                     md-min-length="3"
                                     md-search-text-change="vm.search(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-menu-class="autocomplete-custom-template"
                                     md-floating-label="Búsqueda de  personas">
                        <span
                                md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.razon_social}}</span>
                        <md-item-template><span class="item-title">
                        <md-icon md-font-icon="fa fa-briefcase"></md-icon>
                        <span>&nbsp; {{item.nombre}}</span>
                        </span>
                        </md-item-template>
                        <md-not-found><span>No se encontró a la persona </span></md-not-found>
                    </md-autocomplete>

                </md-card-content>
            </md-card>
            <!--Inicio Receta-->
            <div layout="row"  ng-show="vm.selectedPacient!=null">
                <div layout="column" flex="50">
                    <md-card class="md-padding card1" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}">
                        <h2>Datos de la persona</h2>
                        <div flex="50" flex-xs="100" flex-sm="100">
                            <h3>Nombre</h3>
                            <div layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column"
                                 layout-align-sm="center center">
                                <span>{{vm.selectedPacient.nombre}}</span>
                            </div>
                        </div>
                        <div flex="50" flex-xs="100" flex-sm="100">
                            <h3>Apellido Paterno</h3>
                            <div layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column"
                                 layout-align-sm="center center">
                                <span>{{vm.selectedPacient.apellido_paterno}}</span>
                            </div>
                        </div>
                        <div flex="50" flex-xs="100" flex-sm="100">
                            <h3>Apellido Materno</h3>
                            <div layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column"
                                 layout-align-sm="center center">
                                <span>{{vm.selectedPacient.apellido_materno}}</span>
                            </div>
                        </div>
                        <div flex="50" flex-xs="100" flex-sm="100">
                            <h3>Teléfono</h3>
                            <div layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column"
                                 layout-align-sm="center center">
                                <span>{{vm.selectedPacient.telefono}}</span>
                            </div>
                        </div>

                        <!--
                        <div flex="50" flex-xs="100" flex-sm="100">
                            <h3>Foto</h3>
                            <div layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column"
                                 layout-align-sm="center center">
                                <img class="make-round" src="{{vm.selectedPacient.foto}}" width="100" height="100"/>
                            </div>
                        </div>
                        -->
                    </md-card>
                </div>
                <div flex="50">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}">
                        <md-card-content>
                            <md-input-container class="md-block">
                                <md-select placeholder="Seleccione el tipo de servicio"
                                           ng-model="vm.tipo_servicio" name="tipo_servicio"
                                           >
                                    <md-option ng-value="unidad.id" ng-repeat='unidad in vm.tipo_unidad_servicio'>
                                        {{unidad.name}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container class="md-block" ng-if="vm.tipo_servicio!=null">
                                <md-select placeholder="Seleccione la unidad de servicio"
                                           ng-model="vm.servicio" name="servicio"
                                >
                                    <md-option ng-value="unidad.id" ng-repeat='unidad in vm.unidad_servicio'>
                                        {{unidad.name}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container class="md-block" ng-if="vm.servicio!=null">
                                <md-select placeholder="Seleccione la unidad de servicio"
                                           ng-model="vm.consultorio" name="consultorio"
                                >
                                    <md-option ng-value="consulto.id" ng-repeat='consulto in vm.consultorios'>
                                        {{consulto.nombre}}
                                    </md-option>
                                </md-select>

                            </md-input-container>

                            <md-input-container class="md-block" ng-if="vm.consultorio!=null">
                               <md-button ng-click="vm.buscar()"  class="md-raised">Agendar</md-button>

                            </md-input-container>
                        </md-card-content>


                    </md-card>

                </div>
            </div>
            <div layout="row">
                <div class="calendar-page" flex>
                    <div layout="row" layout-align="end center">
                        <div flex="50">
                            <h2 class="font-weight-300 font-size-5 margin-top-60 margin-bottom-30" flex
                                ng-hide="vm.currentView == 'agendaWeek'">{{vm.currentDay |
                                amDateFormat:vm.viewFormats[vm.currentView]}}</h2>
                        </div>
                        <div flex="50">
                            <md-button class="md-icon-button" ng-click="vm.changeMonth('prev')"
                                       aria-label="previous month">
                                <md-icon md-font-icon="zmdi zmdi-chevron-left" ng-style="{color: 'black'}"></md-icon>
                            </md-button>
                            <md-button hide show-gt-lg class="md-icon-button" ng-click="vm.changeMonth('today')"
                                       aria-label="today">
                                <md-icon md-font-icon="zmdi zmdi-calendar-alt" ng-style="{color: 'black'}"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.changeMonth('next')" aria-label="next month">
                                <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-style="{color: 'black'}"></md-icon>
                            </md-button>
                        </div>
                    </div>


                    <div class="margin-bottom-60" flex ui-calendar="vm.calendarOptions" ng-model="vm.eventSources"
                         calendar="triangular-calendar" class="triangular-calendar"></div>
                </div>

            </div>

        </div>


    </div>

</div>
</div>